* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

/*------------------------------------------ Navigate bar ------------------------------------------ */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #191919;
    z-index: 100;
}

/*----------------------------------------- HEADER -------------------------------------- */

.header {
    height: 100vh;
    width: 100%;
    background-color: #101010;
    background-size: cover;
    background-position: center;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f9004d;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f9004d;
    transition: .4s;
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #ffcbd1;
    letter-spacing: 2px;
    font-size: 30px;
}

/*----------------------------------------- ABOUT------------------------------------------- */
.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img {
    height: auto;
    width: 500px;
    border: 1cm #f9004d;
}

.about-text {
    width: 550px;
    padding-left: 60px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
}

button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/* --------------------------------------- Skills ------------------------------------------- */

.skills {
    background: #101010;
    width: 100%;
    padding: 70px 0px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.paragraph p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #f9004d;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 9px 22px;
        border-radius: 30px;
        transition: 0.4s;
    }
    
.card .button:hover {
        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;
    }


/*---------------------------------------- Contact ------------------------------------------ */
.contacts {
    position: relative;
    width: 100%;
    height: 250px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts p {
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}

.social {
    display: flex;
}

.social a {
    font-size: 25px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    margin: 22px 15px;
    background-color: #f9004d;
}

/* Add color for each icon when hover */
.fa-facebook-f:hover {
    background: #3B5998;
}

.fa-linkedin-in:hover {
    background: #0072b1;
}

.fa-github-alt:hover {
    background: #171515;
}

.fa-envelope:hover {
    background: #dd4b39;
}

.fa-discord:hover {
    background: #36393e;
}